@font-face {
  font-family: 'Wonton';
  src: url("/src/fonts/Wonton.woff2") format("woff2"),
     url("/src/fonts/Wonton.woff") format("woff");   
  font-weight: normal;  
  font-style: normal;   
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Wonton', monospace;
  background-image: url('/resources/background.jpg');
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  color: #FFBC42;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
}

/* Game settings block */

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Wonton', cursive;
  position:fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  top: 10px;
  left: 50%;

  height: 150px;
  width: 400px;

  margin-left: -200px;
  padding: 2px;
  
  background-color: rgba(255, 188, 66, 0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  
}

#fight {
  visibility: hidden;
}

.title {
  font-family: 'Wonton', cursive;
  font-size: 2rem;
  color: rgb(255,0,0);
}

/* Game process block */

.indicator-wrapper {
  font-family: 'Wonton', monospace;
  
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: flex-start;
  align-items: center;
}

.rest-of-life {
  appearance: none;
  padding: 0;
  border: none;
  border-radius: 0;
  
  display: block;
  background-color: #3E4348;
  
  width: 80%;
  height: 15px;
}
  
progress::-webkit-progress-bar {
  background-color: #3E4348;
}
  
progress::-moz-progress-bar { 
  background-color: #FFBC42;
}
  
progress::-webkit-progress-value {
  background-color: #FFBC42;
}
  
.progress-bar {
  background-color: #FFBC42;
  display: block;
  height: 100%;
}


/* Fighter's styles */

.fighters {
  font-family: 'Wonton', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;  
}

.jump-animated {
  -webkit-animation: jump 1s ease 0s 1 normal ; 
  animation: jump 1s ease 0s 1 normal ;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
  cursor: pointer;
}

.name {
  font-family: 'Wonton', cursive;
  font-weight: 700;

  align-self: center;
  font-size: 1.7rem;
  margin-top: 20px;
}

.fighter-image , .fighter-image-right {
  height: 260px; 
   
}

.fighter-image-right {
  transform: scale(-1, 1);
}


/* Styles for modal window with fighters info */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 5;
  top:50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -200px; 
  width:400px;
  height: 300px;

  background-color: rgba(148, 40, 40, 0.63);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
}

#fighterInfo {
  visibility: hidden;
}

.modal-header{
  border-bottom: 1px solid #534847;  
  font-size: 1.5rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}
  
.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #534847;
}

.modal-btn {
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  
  padding: 5px;
  width: 150px;
  margin: 3px;

  border: none;
  cursor: pointer;
  
  background-position: 100%;
}

.modal-btn img {
  width: 140px;
  height: 90px;
}

.close-btn,
.save-btn {
  font-family: 'Wonton', monospace;
  color: rgb(255,0,0);
  background-color: rgba(255, 188, 66, 0.8);;
}

.modal-btn img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

input {
  background-color:  #f6b93b;
  color: #494949;

  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 1px solid #494949;
}

.form-group label {
  display: inline-block;
  width: 27%;
} 
  
@-webkit-keyframes jump {
  0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  40%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  }
  50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  60%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  }
  80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}
  
@keyframes jump {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-30px);
  }
  50%{
  transform: translateY(0);
  }
  60%{
  transform: translateY(-15px);
  }
  80%{
  transform: translateY(0);
  }
  100%{
  transform: translateY(0);
  }
}